@import "./bootstrap/bootstrap/variables";

$tool-title-font-size: 14px;
$tool-title-line-height: 21px;
$tool-title-font-color: #787878;
$tool-tag-font-size: 12px;
$tool-tag-font-color: #787878;
$tool-tag--active-font-color: #FFFFFF;
$tool-tag--active-bg: #4283E4;
$tool-border-bootom-bg: #D8D8D8;

$grid-gutter-width: 20px;
$gutter: 10px;
$video-width: 240px;
$video-height: 228px;
$re-video-height: 240px;
$video-outer-width: ($gutter * 2) + $video-width;

$screen-two-card-min: $video-outer-width * 2 + ($gutter * 2);
$screen-three-card-min: $video-outer-width * 3 + ($gutter * 2);
$screen-four-card-min: $video-outer-width * 4 + ($gutter * 2);

$screen-two-card-max: $screen-three-card-min - 1px;
$screen-three-card-max: $screen-four-card-min - 1px;

$screen-two-card-container: $screen-two-card-min + ($video-width / 6);
$screen-three-card-container: $screen-three-card-min + ($video-width / 4);
$screen-four-card-container: $screen-four-card-min + ($video-width / 2);

$video-bg: #FFFFFF;
$video-img-height: 135px;
$video-duration-font-size: 12px;
$video-duration-bg: #000000;
$video-duration-font-color: #FFFFFF;
$video-title-font-color: #212B36;
$video-title-font-size: 14px;
$vidoe-title-line-height: 20px;
$video-views-font-size: 14px;
$video-views-font-color: #787878;
$video-tags-font-size: 12px;
$video-tag-color: #FFFFFF;
$video-tag--caption-bg: #4283E4;
$video-tag--level-bg: #37C597;
$video-icon: 19px;